.main {
  width: 100%;
  max-width: 1200px;
  padding: 75px;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 950px) {
  .main {
    padding: 45px;
  }
}

@media only screen and (max-width: 700px) {
  .main {
    padding: 10px;
  }
}

.main h2 {
  font-size: 3rem;
}

@media only screen and (max-width: 400px) {
  .main h2 {
    font-size: 2.5rem;
  }
}

.header {
  margin-bottom: 30px;
  text-decoration: underline;
}

.header h2 {
  color: var(--turquoise);
}