.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  border: 2px solid var(--foreground-color);
  border-radius: 50%;
  margin-bottom: 20px;
}

.name {
  margin-bottom: 20px;
}