.content {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 85%;
  margin-left: 170px;
  padding: 100px 0;
}

.content > h1 {
  align-self: start;
  color: var(--red);
  font-size: 4rem;
}

.hidden.video {
  display: none;
}

.video {
  margin-top: 20px;
}

.small-video {
  width: 0;
}

.tiny-video {
  width: 0;
}

@media only screen and (max-width: 950px) {
  .large-video {
    display: none;
  }

  .small-video {
    width: 533px;
    height: 300px;
  }
}

@media only screen and (max-width: 750px) {
  .small-video {
    display: none;
  }

  .tiny-video {
    width: 356px;
    height: 200px;
  }
}

.hidden.image {
  display: none;
}

.image {
    margin-top: 20px;
}

.small-image {
  width: 0;
}

.tiny-image {
  width: 0;
}

@media only screen and (max-width: 950px) {
  .large-image {
    display: none;
  }

  .small-image {
    width: auto;
  }
}

@media only screen and (max-width: 750px) {
  .small-image {
    display: none;
  }

  .tiny-image {
    width: auto;
  }
}

.project-info p {
    /* width: 90%; */
    margin-top: 20px;
    line-height: 40px;
    font-size: 1.7rem;
    white-space: pre-wrap;
}

.links {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.links i:hover {
  cursor: pointer;
  color: var(--turquoise);
}

@media only screen and (max-width: 1200px) {
  .content {
    width: 80%;
  }
}

@media only screen and (max-width: 900px) {
  .content {
    width: 75%;
  }
}

@media only screen and (max-width: 800px) {
  .content {
    margin-left: 120px;
  }
}

@media only screen and (max-width: 500px) {
  .content {
    width: 85%;
    margin-left: 50px;
  }
}