.main {
  margin-bottom: 20px;
  padding: 5px;
  border: 1px solid var(--purple);
  border-radius: 5px;
}

.main h3 {
  font-size: 2.5rem;
}

@media only screen and (max-width: 400px) {
  .main h3 {
    font-size: 2rem;
  }
}

.main h4 {
  font-size: 2rem;
}

@media only screen and (max-width: 950px) {
  .main h4 {
    font-size: 1.5rem;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.chevron {
  color: var(--orange);
  margin-top: 10px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chevron:hover {
  cursor: pointer;
}

.chevron.shown > i {
  transform: rotate(180deg);
}

.content.hidden {
  display: none;
}

.content.shown {
  display: flex;
  gap: 50px;
}

@media only screen and (max-width: 700px) {
  .content.shown {
    gap: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .content {
    flex-direction: column;
    align-items: center;
  }
}

.image:hover {
  cursor: pointer;
}

.small-image {
  width: 0;
}

@media only screen and (max-width: 950px) {
  .large-image {
    display: none;
  }

  .small-image {
    width: auto;
  }
}

.description h4:hover {
  cursor: pointer;
  color: var(--turquoise);
}
