.resume {
  width: 900px;
  height: 110vh;
  margin: 50px 0 0 150px;
  /* padding: 50px 0 0 0; */
  border: none;
}

/*
@media (max-width: 1400px) {
  .resume {
    padding: 50px 50px 0 150px;
  }
}

@media (max-width: 1000px) {
  .resume {
    height: 220vh;
  }
}

@media (max-width: 950px) {
  .resume {
    height: 130vh;
  }
}

@media (max-width: 850px) {
  .resume {
    height: 140vh;
    padding-right: 20px;
  }
}

@media (max-width: 800px) {
  .resume {
    height: 180vh;
  }
}

@media (max-width: 620px) {
  .resume {
    padding-left: 55px;
  }
}

@media (max-width: 550px) {
  .resume {
    height: 250vh;
  }
} */
